.nav{
    background: greenyellow;
    box-shadow: 0 0px 10px 1px #0000008f;
}

.nav a {
    padding: 10px 15px;
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 1px 1px #00000080;
}

.active{
    text-decoration: underline;
}

.page {
    padding: 15px;
    box-shadow: 0 0px 10px 1px #0000008f;
    margin-top: 15px;
    min-height: 600px;
}

#registration form{
    margin-top:60px;
    max-width: 500px;
    width: 100%;
    padding: 15px;
    box-shadow: 0 0px 10px 1px #0000008f;
}